
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@ViewData["Message1"]</p>
        <p>@ViewBag.Message2</p>
        <p>@TempData["Message3"]</p>
    </div>
</body>
</html>
