@model ClassAssignments_Day2.Models.EmployeeInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <h2>Registration Successful!</h2>
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Phone Number: @Model.PhoneNumber</p>

    </div>
</body>
</html>
