
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@ViewBag.CurrentDateTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
    </div>
</body>
</html>
